<app-menu></app-menu>
<!-- L'event è quello che arriva da product list, perciò nel nostro caso sarà un
product. Viene trasformato da evento a prodotto -->

<router-outlet>
</router-outlet>
<!-- <app-cart [cart]="cart" [customer]="customer"></app-cart> -->


<!--era in app menu (singleCustomerEvent)="changeCustomerObject($event)"

 era in app-product-list [cart]="cart" [btnIsDisabled]="btnIsDisabled"
 --><!--Il router outlet spara qua dentro il risultato del routing ciò viene selezionato nel Routes del module -->
<!---->
