<div class="container-fluid mt-3 mb-3">
  <div class="row g-2">
      <div class="col-md-4" *ngFor="let product of productListService.getProducts()">
          <div class="card">
              <div class="img-container">
                  <img class="card-img-top" src="{{ product.imageUrl != null ? product.imageUrl : 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Ferror-document-icon-vector-id1060550172%3Fk%3D6%26m%3D1060550172%26s%3D612x612%26w%3D0%26h%3DgdWxz8H1C8PaxEKF_ItZfo_S-cbQsxC415_n5v9irvs%3D&f=1&nofb=1&ipt=352d94b9e6eee7043dd5ef865ea16b8855a3ae0c7a54eddcda62b53c4015efa4&ipo=images' }}" class="img-fluid">
              </div>
              <div class="product-detail-container">
                  <div class="d-flex justify-content-between align-items-center">
                      <h6 class="mb-0">{{ product.name | titlecase }}</h6> <span class="text font-weight-bold">{{ product.price | currency: "EUR"}}</span>
                  </div>
                  <div class="mt-3">
                    <button *ngIf="product.qty > 0; else btnNotVisible" [disabled]="productListService.btnIsDisabled" class="btn btn-bd-primary" (click)="cartService.addToCart(product)" (click)="showToast()" id="liveToastBtn" style="position: relative">Add to cart</button>
                    <ng-template #btnNotVisible>
                      <p>Non disponibile</p>
                    </ng-template>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-added-to-cart-toast *ngIf="show"></app-added-to-cart-toast>
