<div class="container">
  <div class="col-lg-8 border p-3 main-section bg-white">
      <div class="row hedding m-0 pl-3 pt-0 pb-3">
          <h4>{{ product.name | titlecase }}</h4>
      </div>
      <div class="row m-0">
          <div class="col-lg-4 left-side-product-box pb-3">
              <img src="{{ product.imageUrl != null ? product.imageUrl : 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Ferror-document-icon-vector-id1060550172%3Fk%3D6%26m%3D1060550172%26s%3D612x612%26w%3D0%26h%3DgdWxz8H1C8PaxEKF_ItZfo_S-cbQsxC415_n5v9irvs%3D&f=1&nofb=1&ipt=352d94b9e6eee7043dd5ef865ea16b8855a3ae0c7a54eddcda62b53c4015efa4&ipo=images' }}" class="border">
          </div>
          <div class="col-lg-8">
              <div class="right-side-pro-detail border p-3 m-0">
                  <div class="row">
                      <div class="col-lg-12">
                          <p class="m-0 p-0 price-pro">Price: {{ product.price | currency: "EUR" }}</p>
                          <hr class="p-0 m-0">
                      </div>
                      <div class="col-lg-12 pt-2">
                          <h5>Details:</h5>
                          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris.</span>
                          <hr class="m-0 pt-2 mt-2">
                      </div>
                      <div class="col-lg-12 mt-3">
                          <div class="row">
                              <div class="col-lg-6 pb-2">
                                  <button class="btn btn-bd-primary w-100" (click)="cartService.addToCart(product)" (click)="addedToCartToastService.showToast()">Add To Cart</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-added-to-cart-toast *ngIf="addedToCartToastService.hasShow()"></app-added-to-cart-toast>
